<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Employee Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>About Employee Management System</h1>
    <p>
        The Employee Management System is a comprehensive solution designed to streamline various HR processes and
        tasks within an organization. It provides tools and features to efficiently manage employee data, attendance,
        leaves, performance evaluations, and more.
    </p>
    <p>
        Key features of the Employee Management System include:
    </p>
    <ul>
        <li>Employee database management</li>
        <li>Attendance tracking</li>
        <li>Leave management</li>
        <li>Salary and benefits management</li>
        <li>Evaluation, Reports and analytics</li>
    </ul>
    <p>
        By centralizing these functions into a single platform, organizations can improve efficiency, reduce manual
        errors, and enhance overall HR management.
    </p>

    <a href="" th:href="@{/index}" class="btn btn-primary">Back to Home</a>
</div>
</body>
</html>
